* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  background-color: darkslategrey;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

canvas {
  background-color: #fff;
  border: 1px #fff solid;
  background-image: url('../public/Forest.jpg');
  background-size: cover;
}

.player_img,
.target_img {
  display: none;
}
