@import './components/modal/_modal.scss';

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: darkslategrey;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

canvas {
  max-width: 100vw;
  max-height: calc(100vh - 5rem);
  background-color: #fff;
  border: 1px #fff solid;
  background-image: url('../public/Forest.jpg');
  background-size: cover;
}

.player_img,
.target_img {
  display: none;
}
