@import './components/modal/_modal.scss';
@import './components/Buttons/_button.scss';

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: darkslategrey;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  max-width: 100vw;
  max-height: calc(100vh - 5rem);
  background-color: #fff;
  border: 1px #fff solid;
  background-image: url('../public/Forest.jpg');
  background-size: cover;
  cursor: crosshair;
  

  &.level-2{
    background-image: url('../public/2.jpg');
  }
  &.level-3{
    background-image: url('../public/3.jpg');
  }
  &.level-4{
    background-image: url('../public/4.jpg');
  }
  &.level-5{
    background-image: url('../public/5.jpg');
  }
  &.level-6{
    background-image: url('../public/6.jpg');
  }
  &.level-7{
    background-image: url('../public/7.jpg');
  }
}

.player_img,
.target_img {
  display: none;
}
